footer {
  height: 6vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(138,140,56);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a{
  color:white;
}