.container {
  background: white;
  display: flex;
  flex-direction: row;
  padding: 50px;
  min-height: 300px;
}
.nav {
  background: lightgray;
  width: 25%;
  padding: 20px;
  text-align: center;
}
.content {
  background: white;
  width: 75%;
  padding: 20px;
  text-align: center;
}
@media (max-width: 600px) {
  .container {
      flex-direction: column;
  }
  .nav {
      width: 100%;
  }
  .content {
      width: 100%;
  }
}